.env
.env.*
*.env

tmp
examples

**/venv
**/.venv
**/node_modules
.dockervenv

**/.ruff_cache
**/__pycache__
**/.pytest_cache
**/.DS_Store
**/.cache
**/.dockerignore
**/.coverage
**/.python-version
**/.devcontainer
**/.vscode
**/.nvim
